<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Order
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-buttons [routerLink]="['/beverageproduct']">
            <ion-card>
                  <img class="tea" src="assets/bev.jpeg"/>
                <ion-card-header>
                    <ion-card-title >beverages</ion-card-title>
                </ion-card-header>
              </ion-card>
        </ion-buttons>
      </ion-col>
      <ion-col>
          <ion-buttons >
              <ion-card>
                    <img class="snack" src="assets/snac.jpg"/>
                  <ion-card-header>
                      <ion-card-title>snacks</ion-card-title>
                  </ion-card-header>
                </ion-card>
          </ion-buttons>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<p>{{2 | mypipe: 12}}</p>


