
<ion-header>
  <ion-toolbar color="danger">
    <ion-item color="danger">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back" [routerLink]="['/beverageproduct']"></ion-icon>
        <ion-title>Review Order</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
        <ion-item *ngFor="let o of orders">
          <ion-grid>
            <ion-row>
              <ion-col>
                  <ion-thumbnail item-start>
                      <img src="assets/Oolongtea.jpg">
                    </ion-thumbnail>
              </ion-col>
              <ion-col><ion-text><h5>{{o.beverages}}</h5></ion-text></ion-col>
              <ion-col><ion-text><h5></h5></ion-text></ion-col>
              <ion-buttons><ion-icon slot="end" name="trash" (click)="delete(o.id)"></ion-icon></ion-buttons>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col><ion-button expand="full" color="danger">Continue</ion-button></ion-col>
          </ion-row>
        </ion-grid>
</ion-content>
