<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let beverage of beverages; let i = index">
      <ion-item> 
        <ion-grid>
          <ion-row>
        <ion-avatar>
        <ion-col> <ion-img src="/assets/icon/teas.jpg"></ion-img></ion-col>
        </ion-avatar>
        <ion-col><ion-text>{{beverage.name| titlecase }}</ion-text></ion-col>
        <ion-text slot="end">&#x20B9; {{beverage.price|number:'0.3-5'}}</ion-text> 
        <ion-col><ion-button (click)="createOder(beverage)" fill="non" color="blue"><ion-icon  ios="ios-add-circle" md="md-add-circle"></ion-icon></ion-button></ion-col>
        <!--<ion-col><ion-button (click)="count = count+1" ng-init="count=0" fill="non" color="blue"><ion-icon  ios="ios-add-circle" md="md-add-circle"></ion-icon></ion-button></ion-col>-->
       <ion-col><ion-button (click)="subOder(beverage)"  fill="non" color="blue"><ion-icon name="remove-circle"></ion-icon></ion-button></ion-col>
       <ion-col>{{add[i]}}</ion-col>
      </ion-row>
      </ion-grid>    
      </ion-item>
      </ion-card>
</ion-content>
<p>{{2|odering: 12}}</p>
<ion-footer>
  <ion-button  expand="block" shape="round" fill="outline" type="submit">Submit</ion-button>
</ion-footer> 