<nav>
    <a routerLink="/discription">Discription</a>
    <a routerLink="/bullet">Bullet</a>

  </nav>
<h2>My BulletNotes</h2>

<ul class="notes">
  <li *ngFor="let note of notes">
    <span class="badge"></span> {{note.title}}<br>
    <p>{{note.discription}}</p>
    <p>{{note.date}}</p>
  </li>
</ul>
<h2>Note</h2>

<label>Title: <br>
  <input #title />
</label> <br>
<label>Discription: <br>
  <textarea #discription ></textarea>
</label> <br>
<label>Date: <br>
  <input #date type="date"/>
</label> <br>

<button (click)="create(title, discription, date)"> add </button>
