<nav>
    <a routerLink="/discription">Discription</a>
    <a routerLink="/bullet">Bullet</a>

  </nav><br>
<app-search></app-search>
<app-create (valueChange)="getNotes()"></app-create>
<h2>My BulletNotes</h2>

<ul class="notes">
  <li class="note" *ngFor="let note of notes">
    <h4>{{note.title}}</h4>

    <ul><li *ngFor="let n of note.discription">{{n}}</li>

</ul>
    <!-- <span class="badge"></span> <input [(ngModel)]="note.title" placeholder="title"><br> -->
    <label>
      <textarea [(ngModel)]="discription" placeholder="bullet"></textarea>
    </label><br>
    <button (click)='save()'>save</button>
    <!-- <textarea class="bullet" [(ngModel)]="note.discription" placeholder="title"></textarea> -->

    <p>{{note.date}}</p>

    <button (click)='delete(note)'>delete</button>

  </li>
</ul>





