.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
ion-buttons{
  align-items: center;
  margin-left:40px;
  
}
// .home{
//   margin-left:25px;
// }
// .book{
//   margin-left:30px;
// }
// .requested{
//   margin-left:20px;
// }
// .profile{
//   margin-left:25px;
// }