<div *ngIf="isImage==true">
   <ion-img class=".imagesStyle" src="/assets/icon/favicon.png"> </ion-img>
   </div>

<ion-header *ngIf="isImage==false">
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content *ngIf="isImage==false">
    <ion-card class="welcome-card">
      <img src="/assets/tenor.gif" alt="" />
      <ion-card-header>
      </ion-card-header>
      <ion-card-content>
        <p>Now get the best tea coffe that is specially made for you..</p>
      </ion-card-content>
    </ion-card>

    
</ion-content>
<ion-tabs>
    