<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>

    
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
        <ion-col>
          <ion-row>
              <ion-buttons>
                  <ion-icon ios="ios-home" md="md-home"></ion-icon>
                </ion-buttons>
          </ion-row>
          <ion-row class="home">
              home
          </ion-row>
      </ion-col>
      <ion-col [routerLink]='["/catagory"]'>
        <ion-row>
            <ion-buttons>
                <ion-icon ios="ios-cart" md="md-cart" ></ion-icon>
              </ion-buttons>
        </ion-row>
        <ion-row class="book">
          buy
        </ion-row>

        
      </ion-col>
      <ion-col>
        <ion-row>
            <ion-buttons>
                <ion-icon ios="ios-flame" md="md-flame"></ion-icon>
            </ion-buttons>
        </ion-row>
        <ion-row class="requested">
          requested
        </ion-row>
          
        </ion-col>
        <ion-col>
          <ion-row>
              <ion-buttons>
                  <ion-icon ios="ios-person" md="md-person"></ion-icon>
              </ion-buttons>
          </ion-row>
          <ion-row class="profile">
            profile
          </ion-row>
            
          </ion-col>
          </ion-row>
  </ion-grid>
</ion-footer>
