<ion-header>
  <ion-toolbar>
    <ion-item>
        <ion-icon ios="ios-arrow-back" md="md-arrow-back" [routerLink]="['/catagory']"></ion-icon>
        <ion-text color="primary">BEVERAGES</ion-text>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        
        <ion-card *ngFor="let beverage of beverages">
            <ion-item> 
                  <ion-text><p> <strong>{{ beverage.name | capitalize }}</strong>.</p></ion-text>
                  <ion-text slot="end"> {{beverage.price | currency }}</ion-text>
                  <ion-button (click)="presentModal(beverage,true)" slot="end" fill="non" ><ion-icon slot="icon-only" color="primary" name="create"></ion-icon></ion-button>
                  <ion-button (click)="presentAlertConfirm(beverage.id)"  slot="end" fill= "non"><ion-icon slot="icon-only" color="danger" name="trash"></ion-icon></ion-button>
                </ion-item>
              </ion-card>
              </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentModal({})">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

</ion-content>
