<ion-header>
  <ion-toolbar>
    <ion-item>
        <ion-icon ios="ios-arrow-back" md="md-arrow-back" [routerLink]="['/catagory']"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        
          <ion-card *ngFor="let bev of beverages">
          <ion-card-content >
              <ion-item>
                  <ion-buttons slot="end" (click)="update(bev)" ><ion-icon name="checkmark"></ion-icon></ion-buttons>
              </ion-item>
          <ion-item>
            <ion-input [readonly]="editable" [(ngModel)]="bev.name"></ion-input>
          </ion-item> 
          
          <ion-item>
              <ion-buttons slot="start" (click)="toggleEditable()"><ion-icon name="create" ></ion-icon></ion-buttons>
          
              <ion-buttons slot="end" (click)="delete(bev.id)" ><ion-icon name="trash" ></ion-icon></ion-buttons>
          </ion-item>
          
        </ion-card-content>
        </ion-card>
        
      </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentModal()">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <p *ngIf="myStyles.showUsername" class="hint">
          enter the amount 
        </p>

</ion-content>
