
<div *ngIf="isImage==true">
 <ion-card class="welcome-card">
  <ion-img class=".1imagesStyle" src="/assets/icon/tea.jpg"> </ion-img>
  </ion-card>
  </div>


<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isImage==false">
    <ion-card class="welcome-card">
      <img class="imgStyle" src="/assets/icon/images.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
       <ion-card-title homeStructural>Welcome to chai time</ion-card-title>
       <ion-text>{{add}}</ion-text>
      </ion-card-header>
    </ion-card>
    <div text-center text-down></div>
  </div>
</ion-content>