<ion-header>
    <ion-toolbar>
      <ion-title>Add product</ion-title>
    </ion-toolbar>
    <ion-fab  vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button class="close" (click)="dismiss()">
          <ion-icon name="close"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  </ion-header>
<ion-content>

  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input [(ngModel)]="beverage.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Price</ion-label>
    <ion-input [(ngModel)]="beverage.price"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="save()">Add Product</ion-button>

</ion-content>