
ion-icon{
    width:30px;
    height: 30px;

}
      /* mouse over link */
      ion-icon:hover {
        color: red;
      }
      
      /* selected link */
      ion-icon:active {
        color: red;
      } 
.search{
    margin-left:5%;
}