<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button color="primary"></ion-menu-button>
        </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngFor="let a of [1,2,3,4]" color="dark"> 
         <ion-card  class="ion-no-padding" font-weight="bold" color="light">              
        <ion-card-header text-center >
            <ion-img class="home" src="/assets/hometea.jfif" color="warning"></ion-img>
        </ion-card-header>
        <ion-card-content color="light" text-center>
            <ion-text class="text" font-weight="bold">
                <h2>Coffe</h2>
            </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-item>

    
</ion-content>


<ion-footer>
    <ion-toolbar>  
        <ion-buttons slot="start">           
        </ion-buttons>  
        <ion-toolbar>  
            <ion-segment  (ionChange)="segmentChanged($event)" [(ngModel)]="segment" color="primary">  
              <ion-segment-button value="0">  
                <ion-label>Home</ion-label>  
                <ion-icon name="home"></ion-icon>  
              </ion-segment-button>  
              <ion-segment-button value="1">  
                <ion-label>Category</ion-label>  
                <ion-icon name="list"></ion-icon>  
              </ion-segment-button>  
              <ion-segment-button value="2">  
                <ion-label>Order</ion-label>  
                <ion-icon name="cart"></ion-icon>  
              </ion-segment-button>    
            </ion-segment>  
          </ion-toolbar>  
            
          <ion-slides #slides (ionSlideDidChange)="slideChanged()" scrollbar="true">   
          </ion-slides>  
     
      </ion-toolbar> 
</ion-footer>