<ion-header>
  <ion-toolbar color="danger">
      <ion-item color="danger">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back" [routerLink]="['/tabs/home']"></ion-icon>
          <ion-searchbar color="danger" class="search"></ion-searchbar>
      </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-buttons [routerLink]="['/beverage']">
    <ion-card class="welcome-card">
      <img src="assets/beverages.jpeg" alt="" />
      <ion-card-header>
        <ion-card-title>beverages</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-buttons>
  <ion-buttons>
      <ion-card class="welcome">
        <img src="assets/snacks.jpg" alt="" />
        <ion-card-header>
          <ion-card-title>snacks</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-buttons>

</ion-content>
