<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list *ngFor="let c of contacts" >
      <ion-card class="ion-padding">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item lines="none" class="ion-no-padding-bottom ion-no-margin">
                <ion-icon name="person-outline"></ion-icon>&nbsp;&nbsp;
                <ion-text>{{c.name}}</ion-text>
              </ion-item>
            </ion-col>
            <ion-col class="ion-justify-content-end">
              <ion-item lines="none">
                <ion-button slot="end" fill="none"><a href=tel:{{c.phNumber}}><ion-icon color="primary" slot="icon-only" name="call"></ion-icon></a></ion-button>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
          <ion-text class="ion-padding">{{c.phNumber}}</ion-text><br>
          <ion-text class="ion-padding">{{c.email}}</ion-text>
      </ion-card>
    </ion-list>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openCreateModal()">
    <ion-icon name="create-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
