<div class="container">

    <label>Question:
        <input type="text" [(ngModel)]="qs" /><br><br>
       </label>

         <label>option1:
           <input type="text" [(ngModel)]="str1" /><br><br>
         </label>
         <label>option2:
            <input type="text" [(ngModel)]="str2" /><br><br>
          </label>
          <label>option3:
              <input type="text" [(ngModel)]="str3" /><br><br>
            </label>
            <label>option4:
                <input type="text" [(ngModel)]="str4" /><br><br>
              </label>

               <label>Answer:
                  <input type="text" [(ngModel)]="an" /><br><br>
                 </label>
                 <button (click)="add()">add</button>
</div>



