<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>beverage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let beverage of beverages">
      <ion-item> 
        <ion-avatar>
        <ion-img src="/assets/icon/teas.jpg"></ion-img> 
        </ion-avatar>
            <ion-text>{{beverage.name| titlecase }}</ion-text>
            <ion-text slot="end">&#x20B9; {{beverage.price|number:'0.3-5'}}</ion-text>
            <ion-button (click)="presentModal(beverage)" slot="end" fill="non" ><ion-icon slot="icon-only" color="primary" name="create"></ion-icon></ion-button>
            <ion-button (click)="presentAlertConfirm(beverage.id)"  slot="end" fill= "non"><ion-icon slot="icon-only" color="danger" name="trash"></ion-icon></ion-button>
          </ion-item>
        </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="presentModal({})" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
